#page-body {
	font-family: helvetica;
}

#conversation {
	height: calc(100% - 60px);
	overflow-y: scroll;
}

.message {
	padding: 4px;
}

.message-row {
	display: flex;
}

.user-name {
	padding-right: 4px;
}

#send-message-container {
	height: 30px;
}

#message-input {
	width: 70%;
}

.message-time {
	font-size: 8px;
}